const mysql = require('mysql2')

exports.promisePool = mysql.createPool(
    {
        host:     'xxx', // <== Update
        user:     'xxx', // <== Update
        password: '', // <== Update
        database: 'sql-primer2'  // <== Update
    }).promise()
